<div class="feature-container" fxLayout="row" style="height: 100%">
    <button (click)="saveOrder()" [disabled]="!orderService.isChangedNotSave">
    <mat-icon style="margin-right: 5px;">save_alt</mat-icon> LƯU
  </button>
    <!--<button>
    <mat-icon style="margin-right: 5px;">call_merge</mat-icon> GỘP BÀN
  </button>-->
    <button (click)="changeTable()" [disabled]="!orderService.cancelableOrder || orderService.isChangingTable">
      <mat-icon style="margin-right: 5px;">redo</mat-icon> CHUYỂN BÀN
    </button>
    <button [disabled]="!orderService.cancelableOrder" (click)="cancelOrder()">
    <mat-icon style="margin-right: 5px;">clear</mat-icon> HỦY HÓA ĐƠN
  </button>

    <button [disabled]="!orderService.cancelableOrder" (click)="printOrder()" id="print-order-button">
    <mat-icon style="margin-right: 5px;">print</mat-icon> IN HÓA ĐƠN
  </button>

  <button [disabled]="!orderService.cancelableOrder" (click)="printOrder()">
    <mat-icon style="margin-right: 5px;">notifications_active</mat-icon> BÁO THANH TOÁN
  </button>

  <iframe id="print_bill" style="display: none"></iframe>
</div>
