.feature-container {
  display: flex;
  place-content: flex-start;
  background: none !important;

  button {
    background: none !important;
    display: flex;
    border: 2px solid #BE9C79;
    align-items: center;
    place-content: center;
    padding: 0px 20px;
    color: #BE9C79;
    font-family: inherit;
    margin-right: 20px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    &:focus {
      outline: 0;
    }
    &:hover {
      border: 2px solid black;
      color: black;
    }
    &[disabled] {
      color: #c7c7c7 !important;
      border: 2px solid #c7c7c7 !important;
      cursor: not-allowed !important;
    }
  }
}
