﻿
@inject IAuthenticationSchemeProvider SchemeProvider
@using Microsoft.AspNetCore.Authentication
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@Html.Partial("~/Views/Layout/Admin/Head.cshtml")
<style>
    .login-logo {
        position: relative;
        bottom: 70px;
    }

    .login-form {
        position: relative;
        bottom: 150px;
    }

    .login-content {
        height: 600px;
    }

    .login-form .au-btn--green {
        background: #be9c79;
        border-radius: unset;
        text-align: center;
    }

    input.au-input.au-input--full:focus {
        border-color: #be9c79;
    }

    .login-form .au-btn--green:hover {
        background: #262626;
    }
</style>
<body class="animsition">
    <div class="page-wrapper">
        <div class="page-content--bge5">
            <div class="container">
                <div class="login-wrap">
                    <div class="login-content">
                        <div class="login-logo">
                            <a href="#">
                                <img src="~/images/icon/logo.png" alt="CoolAdmin">
                            </a>
                        </div>
                        <div class="login-form">
                            @if (ViewBag.NotExist != null)
                            {
                                if (ViewBag.NotExist == false)
                                {
                                    <div class="alert alert-danger" role="alert">
                                        Tài khoản không tồn tại
                                    </div>
                                }
                            }<!--Check account exist-->
                            @if (ViewBag.RegisterSucess != null)
                            {
                                <div class="alert alert-success" role="alert">
                                    Đăng ký thành công. Bạn có thể đăng nhập
                                </div>
                            }<!--Success sign up-->
                                <form method="post" asp-controller="Login" asp-action="SignIn">
                                    <div class="form-group">
                                        <label>Username</label>
                                        <input class="au-input au-input--full" type="text" name="username" placeholder="Nhập tên tài khoản...">
                                    </div>
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input class="au-input au-input--full" type="password" name="password" placeholder="Nhập tên mật khẩu...">
                                    </div>
                                    <div class="login-checkbox">
                                        <label>
                                            <input type="checkbox" name="remember">Remember Me
                                        </label>
                                        <label>
                                            <a href="#">Forgotten Password?</a>
                                        </label>
                                    </div>
                                    <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">sign in</button>
                                    <a class="au-btn au-btn--block au-btn--green m-b-20" asp-action="SignInFacebook" asp-controller="Login" style="background: #4267b2"><i class="fab fa-facebook"></i> sign in with facebook</a>
                                    <a class="au-btn au-btn--block au-btn--green m-b-20" asp-action="Index" asp-controller="TrangChu"><i class="fas fa-long-arrow-alt-left"></i> back to homepage</a>
                                </form>
                            <div class="register-link">
                                <p>
                                    Don't you have account?
                                    <a asp-action="SignUp">Sign Up Here</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    @Html.Partial("~/Views/Layout/Admin/JS.cshtml")

</body>

</html>
<!-- end document-->