.table-item {
    border: 1px solid #f0f0f0f0;
    margin-right: 20px;
    .table-item-header {
        text-align: center;
        padding: 15px;
        border-bottom: 1px solid #f0f0f0;
        background: #049F56;
        color: #fff;
    }
    .table-item-body {
        place-content: center;
        padding: 20px 0px;
        background: #fff;
    }
    &.active {
        border: 2px solid #BE9C79;
        .table-item-header {
            background: #BE9C79;
        }
    }
}