<div class="list-table-wrapper">
    <owl-carousel [options]="{items: 6, dots: false, navigation: false}" [carouselClasses]="['owl-theme', 'row', 'sliding']" fxLayoutGap="5px" [items]="listOrderServing">
        <div class="table-item" *ngFor="let order of listOrderServing;let i = index"
          (click)="serDisplayBar(order)" [attr.data-id]="order.maHoaDon"
          [ngClass]="isClicked[order.maHoaDon] == true ? 'active' : ''">
            <div class="table-item-header">
                Bàn: {{ order.tenBan }}
            </div>
            <div class="table-item-body" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
                <mat-icon>access_time</mat-icon>
                <div>{{ order.thoiGianLap | timeAgo }}</div>
            </div>
        </div>
    </owl-carousel>
</div>
