.list-order-wrapper {
    .list-order {
        background: #FFFFFF;
        border-radius: 5px;
        box-shadow: 1px 1px 2px 2px #00000014;
    }
    .left {
        text-align: left;
    }
    .center {
        text-align: center;
    }
    .right {
        text-align: right;
    }
    .order-table-name {
        display: flex;
        font-size: 20px;
        align-items: center;
        font-weight: bold;
        margin: 15px;
    }
    .order-item {
        border: 1px solid #c4c4c4;
        align-items: center;
        margin: 0px 15px;
        .quantity .mat-icon {
            color: #BE9C79;
            cursor: pointer;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            &:hover {
                color: black;
            }
        }
    }
    .list-no-order {
        align-items: center;
        place-content: center;
        font-weight: bold;
        color: #685643B5;
        font-size: 20px;
        border: 2px solid #09080814;
    }
}