<div fxLayout="row" fxLayoutGap="20px" style="height: 500px" class="list-order-wrapper">

    <div fxFlex="25" *ngFor="let bar of barDisplay;let i = index" [ngClass]="bar != null ? 'list-order' : 'list-no-order'" fxLayout="column" style="height: auto !important">
        <div *ngIf="bar == null">
            Quầy trống
        </div>
        <div class="order-table-name" fxFlex="10" style="margin-bottom: 5px;" *ngIf="bar != null">
            <div fxFlex="50">{{ bar.tenBan }}</div>
            <div fxFlex="50" fxLayoutAlign="end">
                <button style="background: #BE9C79;border: none;padding: 5px 20px;color: #fff;font-weight: bold;
                text-transform: uppercase;cursor: pointer;" (click)="cookDoneAll(i, bar)">Trả hết</button>
            </div>
        </div>
        <div class="order-table-name" fxFlex="10" style="margin-top: 5px;" *ngIf="bar != null">
            <div fxFlex="50" style="font-size: 15px">Phục vụ: <span style="font-weight: normal;">{{ bar.tenNhanVienOrder }}</span>
            </div>
            <div fxFlex="50" fxLayoutAlign="end center" style="font-size: 15px; font-weight: normal;">
                <mat-icon style="margin-right: 5px;">access_time</mat-icon>
                {{ bar.thoiGianLap | timeAgo }}
            </div>
        </div>
        <div class="order-detail" fxFlex="90" fxLayout="column" *ngIf="bar != null">
            <perfect-scrollbar style="height: 400px;padding-bottom: 20px;">
                <div fxLayout="row" class="order-item" style="padding: 5px 20px;" *ngFor="let item of bar.dsMon" (click)="cookDoneItem(i, item, bar)">
                    <div fxFlex="40" class="left">{{ item.tenThucDon }}</div>
                    <div fxFlex="10" class="center">x</div>
                    <div fxFlex="20" class="right">{{ item.soLuong }}</div>
                    <div fxFlex="30" class="right">
                        <img src="../../../../../assets/ic_cook_done.png" style="width: 35px; height: 35px;" />
                    </div>
                </div>

            </perfect-scrollbar>
        </div>

    </div>

    <!-- <div fxFlex="25" class="list-no-order" fxLayout="column" style="height: auto !important">
        Quầy trống
    </div> -->


</div>
