.mat-dialog-actions {
  place-content: center;
  button {
    width: 150px;
    height: 40px;
    border: none;
    font-size: 15px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    &:hover {
      opacity: 0.7;
    }
    &:focus {
      outline: 0;
    }
  }
}

