<h1 mat-dialog-title style="text-align:center;font-weight:bold">{{ data.title }}</h1>
<div mat-dialog-content style="text-align:center">
  <p style="font-size: 17px; margin-bottom: 35px">{{data.content}}</p>
</div>
<div mat-dialog-actions fxLayoutGap="5px">
  <button mat-button [mat-dialog-close]="true" [style.background]="data.key == 'cancel' ? '#e74c3c' : '#2ecc71'" cdkFocusInitial>Xác nhận</button>
  <button mat-raised-button style="background: #BE9C79" color="primary" mat-dialog-close>Hủy</button>
</div>
