<div style="background: #be9c7933;" fxFlexFill fxLayout="column">
  <app-header style="height: 50px"></app-header>
  <div class="content-container" style="padding: 0px 20px">
    <router-outlet></router-outlet>
  </div>
</div>

