﻿@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/Admin/Layout.cshtml";
}
<style>
    .bg-overlay--blue {
        background: rgba(52, 52, 52, 0.9);
    }

    .send-mess-wrap {
        margin-top: 0px;
    }

    .main-content {
        min-height: 100%;
    }

    input#messageInput:focus {
        border: #4272d7 1px solid;
    }
</style>
<input type="text" id="test_autocomplete" />
<div class="section__content section__content--p30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="au-card au-card--no-shadow au-card--no-pad m-b-40">
                    <div class="au-card-title" style="background-image:url('images/bg-title-02.jpg');">
                        <div class="bg-overlay bg-overlay--blue"></div>
                        <h3>
                            <i class="zmdi zmdi-comment-text"></i>Nhóm trò chuyện
                        </h3>
                        <button class="au-btn-plus" data-target="#add_conversation_modal" data-toggle="modal">
                            <i class="zmdi zmdi-plus"></i>
                        </button>
                    </div>
                    <div class="au-inbox-wrap js-inbox-wrap">
                        <div class="au-message js-list-load">
                            <div class="au-message__noti">
                                <p>
                                    You Have
                                    <span id="newMessages">0</span>

                                    new messages
                                </p>
                            </div>
                            <div class="au-message-list" id="roomsList">

                            </div>
                            <div class="au-message__footer">
                                <button class="au-btn au-btn-load js-load-btn">load more</button>
                            </div>
                        </div>
                        <!--Message Box-->
                        <div class="au-chat">
                            <div class="au-chat__title">
                                <div class="au-chat-info">

                                    <button style="margin-right: 10px" id="backToMessageList"><i class="fas fa-angle-left"></i></button>
                                    <div class="avatar-wrap online">
                                        <div class="avatar avatar--small">
                                            <img src="~/uploads/employee/none-avatar.jpg" alt="None Avatar" id="chatAvatar">
                                        </div>
                                    </div>
                                    <span class="nick">
                                        <a href="#" id="chatName">Anonymous</a>
                                    </span>
                                </div>
                            </div>
                            <div class="au-chat__content" id="messagesList">

                            </div>
                            <div class="au-chat-textfield">
                                <form class="au-form-icon">
                                    <input class="au-input au-input--full au-input--h65" type="text" placeholder="Type a message" id="messageInput">
                                    <button class="au-input-icon" id="sendButton" data-room-id="0">
                                        <i class="zmdi zmdi-mail-send" style="color: #4272d7"></i>
                                    </button>
                                    <input hidden value="@Context.Session.GetString("ACCID_SESSION")" id="myAccountId" />
                                </form>
                            </div>
                        </div>
                        <!--End Message Box-->
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
@{
    Html.RenderPartial("AddConversationModal");
}