mat-toolbar.mat-toolbar.mat-toolbar-single-row {
    height: 100%;
    background: #BE9C79;
    position: relative;
    z-index: 10;
    box-shadow: 1px 2px #0000002b;
    padding: 0px !important;
    .user-button {
        width: 220px;
        height: 50px;
        .avatar {
            width: 40px;
            height: 40px;
            position: absolute;
            left: 15px;
            top: 5px;
        }
        .user-name {
            margin-left: 50px;
            color: #fff;
            font-size: 17px;
        }
         ::ng-deep.mat-button-wrapper {
            display: flex;
            place-content: space-between;
            align-items: center;
        }
    }
    .toolbar-icon {
        align-self: center;
        height: auto;
        width: 40px;
        place-content: center;
        color: #fff;
        margin-right: 20px;
        .mat-icon {
            font-size: 25px;
        }
    }
}