<mat-toolbar fxLayout="row">
    <div fxFlex="70">
      <img src="../../../../assets/logo (1).png" style="width: 90px;height: 40px;margin-top: 7px;margin-left: 20px;"/>
    </div>
    <div fxFlex="30" fxLayoutAlign="end">
        <!-- <button mat-icon-button (click)="sync()" class="toolbar-icon">
      <mat-icon>loop</mat-icon>
    </button> -->
        <button mat-icon-button (click)="goToSale()" class="toolbar-icon" matTooltip="Màn hình bán hàng">
      <!-- <mat-icon>print</mat-icon> -->
      <img src="../../../../assets/ic_add_order.png" style="width: 25px; height: 25px"/>
    </button>
        <button mat-icon-button (click)="goToSale()" class="toolbar-icon" matTooltip="Màn hình bán hàng">
      <!-- <mat-icon>print</mat-icon> -->
      <img src="../../../../assets/ic_table.png" style="width: 25px; height: 25px"/>
    </button>
        <button mat-icon-button (click)="goToKitChen()" class="toolbar-icon" matTooltip="Màn hình chế biến">
      <!-- <mat-icon>print</mat-icon> -->
      <img src="../../../../assets/ic_mixing.png" style="width: 25px; height: 25px"/>
    </button>
        <button mat-button [matMenuTriggerFor]="menu" class="user-button">
        <img class="avatar"
             src="../../../../assets/malecostume-512.png"/>
      <span class="user-name">{{ username }}</span>
      <mat-icon style="margin-left: 10px;color: #fff;">keyboard_arrow_down</mat-icon>
    </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item style="width: 220px" (click)="logout()">
            <mat-icon>power_settings_new</mat-icon>
            <span>Đăng xuất</span>
          </button>
        </mat-menu>
    </div>
</mat-toolbar>
