<div class="category-container" style="height: 100%;">
  <mat-list fxLayout="row" fxLayoutGap="20px" *ngIf="isRoomSelected" class="list-room">
    <mat-list-item fxFlex="15" fxLayoutAlign="center" [attr.data-id]="0"
                   [ngClass]="roomService.isSelected == 0 ? 'active' : ''"
                   (click)="loadRoomDetail(0)">Đang mở
    </mat-list-item>
    <mat-list-item fxFlex="15" fxLayoutAlign="center" *ngFor="let room of lists"
                   [ngClass]="roomService.isSelected == room.maTang ? 'active' : ''"
                   [attr.data-id]="room.maTang"
                   (click)="loadRoomDetail(room.maTang)">
      {{ room.tenTang }}
    </mat-list-item>
  </mat-list>

  <mat-list fxLayout="row" fxLayoutGap="20px" *ngIf="!isRoomSelected" class="list-category">
    <mat-list-item fxFlex="15" fxLayoutAlign="center" *ngFor="let category of lists"
                   [ngClass]="categoryService.isSelected == category.maLoai ? 'active' : ''"
                   [attr.data-id]="category.maLoai"
                   (click)="loadProductDetail(category.maLoai)">
      {{ category.tenLoai }}
    </mat-list-item>
  </mat-list>
</div>
