.category-container {
  .mat-list, .mat-list-item {
    height: 100%;
  }
  .mat-list-base {
    padding: 0;
  }

  .mat-list-item {
    background: #FFFFFF;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 2px #00000014;
    place-content: center;
    border: 2px solid #e1e2e100;
    font-weight: bold;
    color: #a3a3a3;
    cursor: pointer;
    .mat-list-item-content {
      padding: 0 !important;
    }
    &.active {
      border: 2px solid #BE9C79;
      color: #BE9C79;
    }
  }

}
