body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.42857143;
}
.bill_content {
    width: 80mm;
    position: relative;
    display: table;
    margin-left: auto;
    margin-right: auto;
}
.bill_content.show {
    width: 80%;
}
.bill_content .logo-area {
    position: absolute;
    top: 20px;
    left: 0;
}
.bill_content .name_shop {
    font-size: 17px;
    text-align: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 0;
}
.bill_content .font-20 {
    font-size: 20px;
}
.bill_content .font-400 {
    font-weight: 400;
}
.bill_content .address_shop {
    font-size: 16px;
    text-align: center;
    width: 100%;
}
.bill_content .bill_name {
    font-size: 19px;
    text-align: center;
    width: 100%;
    font-weight: bold;
    padding-top: 15px;
}
.info-bill {
    width: 100%;
    margin-top: 15px;
}
.info-bill tbody tr th {
    font-weight: normal;
    font-size: 14px;
    padding: 2px !important;
}
.total-number {
    font-size: 20px;
}
.info-bill tbody tr th .bold {
    font-weight: bold;
}
.food_order {
    font-size: 14px;
    width:100%;
    padding: 10px 0;
    display: table;
    text-align: left;
}
.bill_content .food_order thead tr th {
    font-size: 12px;
    padding: 2px;
}
.food_order tbody tr th {
    font-size: 14px;
    font-weight: normal;
    padding: 3px;
    word-break: break-word;
}
.bill_content .food_order table {
    width: 100%;
    border-top: 1px solid black;
}
.bill_content .food_order thead, .bill_content .food_order tbody {
    border-bottom: 1px solid black;
}
.bill_content .total_order {
    text-align: right;
    width: 100%;
    font-weight: bold;
    padding-bottom: 15px;
    padding-top: 10px;
    padding-right: 15px;
}
.bill_content .total-order-col1 {
    width: 40%;
    float: left;
    font-size: 13px;
    margin-top: 5px;
}
.bill_content .total-order-col2 {
    width: 60%;
    float: left;
}
.bill_content .total-order-col1 .total_order {
    text-align: left;
}
.bill_content .total-number {
    font-size: 16px;
    width: 80px !important;
    display: inline-block !important;
}
.bill_content .total-number.show {
    width: auto !important;
}
.bill_content .cash-number {
    font-size: 20px;
}
.bill_content .cashier-name {
    font-size: 16px;
    text-align: center;
    margin-top: 15px;
}
th {
    position: relative;
}
tr.strikeout th:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    border-bottom: 1px solid #111;
    width: 100%;
}
tr.strikeout th:after {
    content: "\00B7";
    font-size: 1px;
}
th { width: 100px; }
th { text-align: left; }
.title_report {
    background: green;
    padding: 10px;
    font-size: 22px;
}
.turnover_report {
    background: #A03030;
    padding: 10px;
    font-size: 22px;
    color: white;
    margin-top: 15px;
    margin-left:15px;
    margin-right: 15px;
}
.paidamount_report {
    background: #30A096;
    padding: 10px;
    font-size: 22px;
    color: white;
    margin-top: 15px;
    margin-left:15px;
    margin-right: 15px;
}
.numberorder_report {
    background: #F7A35C;
    padding: 10px;
    font-size: 22px;
    color: white;
    margin-top: 15px;
    margin-left:15px;
    margin-right: 15px;
}
.report_shift {
    border: 1px solid #ccc;
    min-height: 650px;
    margin-top: 20px;
}
a:hover{
    text-decoration: none;
}
@media screen {
    #print_bill {
        display: none;
    }
}
@media print {
    .no-print-area {
        display: none;
    }
    #print_bill, #print_bill * {
        visibility:visible;
    }
    #print_bill {
        position:absolute;
        top:0;
        left:0;
        right: 0;
    }
}
.bg-1, .bg-3 {
    background: #ccc;
}
.bg-revenue, .bg-expense, .bg-income {
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: white;
    font-size: 18px;
}
.bg-revenue {
    background: #0AB5CD;
}
.bg-expense {
    background: #F14C18;
}
.bg-income {
    background: #0ACB9A;
}
.action-report {
    margin: 10px 0px;
    background: #f7f8fa;
    padding: 10px 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.text-revenue, .text-expense, .text-income {
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
.text-revenue {
    color: #0AB5CD;
}
.text-expense {
    color: #F14C18;
}
.text-income {
    color: #0ACB9A;
}
.mg-bt-15 {
    margin-bottom: 15px;
}
.mg-t-30 {
    margin-top: 30px;
}
.highcharts-container {
    max-height: 400px;
    max-width: 100%;
}
.body-report {
    border: solid #ccc 1px;
    padding-bottom: 20px;
    position: relative;
    width: 100%;
    float: left;
    padding-left: 0px;
    padding-right: 0px;
}
.body-chart-report {
    border: solid #ccc 1px;
    padding-bottom: 20px;
    position: relative;
    width: 100%;
    float: left;
    padding-left: 0px;
    padding-right: 0px;
    border-bottom: none;
}
.bd-bt {
    border-bottom: 1px solid #ccc;
}
.width-40 {
    width: 40%;
}
.fl-r {
    float: right;
}
.icon-refresh span {
    line-height: 30px;
}
.hide-loading,.hide-loading-b {
    display: none;
}
.show-loading,.show-loading-b {
    display: block;
}
.loading,.loading-b {
    top: 0px;
    left: 0px;
    opacity: 1;
    background-color: #fff;
    z-index: 99;
    text-align: center;
}
.deletelist {
    position: relative;
}
.btn-delete {
    position: absolute;
    margin-top: 5px;
    z-index: 10;
}
.pd-tb-0-i {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.fw-normal-i {
    font-weight: normal !important;
}
.w-100-i {
    width: 100px !important;
    display: inline-block !important;
}
.bill_content .text-right {
    text-align: right;
}
.bill_content .food_order .product-name-header {
    width: 35%;
    font-weight: normal;
}
.bill_content .food_order .bold-imprt {
    font-weight: bold !important;
}
.bill_content .food_order .product-quantity-header {
    width: 15%;
    font-weight: normal;
}
.bill_content .food_order .product-price-header {
    width: 23%;
    font-weight: normal;
}
.bill_content .food_order .product-total-price-header {
    width: 25%;
    text-align: left;
    font-weight: normal;
}
.bill_content .clear {
    clear: both;
}
.bill_content .bill_order_name {
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
}
.bill_content .pre-line {
    white-space: pre-line;
}
.bold {
    font-weight: bold;
}
.img-w-82 img {
    width: 82% !important;
    margin-left: auto;
    margin-right: auto;
}
.img-w-90 img {
    width: 90% !important;
    margin-left: auto;
    margin-right: auto;
}
.img-w-50 img {
    width: 50% !important;
    margin-left: auto;
    margin-right: auto;
}
.img-w-40 img {
    width: 40% !important;
    margin-left: auto;
    margin-right: auto;
}
.img-w-105 img {
    width: 105px !important;
}
.xutea .bill_content .food_order thead,
.xutea .bill_content .food_order tbody,
.xutea .bill_content .food_order table,
.xutea .bill_content .food_order table.doted th{
    border: 2px dotted #999999;
}

.xutea .bill_content .food_order tr.doted{
    border-top: 2px dotted #999999;
    margin: 5px 0px;
}