<perfect-scrollbar style="height: unset;">
  <div class="content-body" fxLayout="row" fxLayoutGap="20px" style="padding-top: 20px;">
    <app-content fxFlex="70"></app-content>
    <app-order fxFlex="30"></app-order>
  </div>
</perfect-scrollbar>
