@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

.fimanager:before {
      display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    display: block;
}

.flaticon-001-beverage:before { content: "\f100"; }
.flaticon-002-birthday-cake:before { content: "\f101"; }
.flaticon-003-biscuits:before { content: "\f102"; }
.flaticon-004-sandwich:before { content: "\f103"; }
.flaticon-005-bread:before { content: "\f104"; }
.flaticon-006-hot-dog:before { content: "\f105"; }
.flaticon-007-burger:before { content: "\f106"; }
.flaticon-008-cafe:before { content: "\f107"; }
.flaticon-009-cafe:before { content: "\f108"; }
.flaticon-010-cafe:before { content: "\f109"; }
.flaticon-011-cafe:before { content: "\f10a"; }
.flaticon-012-cafe:before { content: "\f10b"; }
.flaticon-013-cafe:before { content: "\f10c"; }
.flaticon-014-cake-slice:before { content: "\f10d"; }
.flaticon-015-candies:before { content: "\f10e"; }
.flaticon-016-chips:before { content: "\f10f"; }
.flaticon-017-chocolates:before { content: "\f110"; }
.flaticon-018-coffee-cup:before { content: "\f111"; }
.flaticon-019-chips:before { content: "\f112"; }
.flaticon-020-coffee:before { content: "\f113"; }
.flaticon-021-coffee:before { content: "\f114"; }
.flaticon-022-coffee-cup:before { content: "\f115"; }
.flaticon-023-coffee-grinder:before { content: "\f116"; }
.flaticon-024-coffee:before { content: "\f117"; }
.flaticon-025-coffee-machine:before { content: "\f118"; }
.flaticon-026-coffee-cup:before { content: "\f119"; }
.flaticon-027-moka-pot:before { content: "\f11a"; }
.flaticon-028-coffee-mug:before { content: "\f11b"; }
.flaticon-029-coffee-pot:before { content: "\f11c"; }
.flaticon-030-coffee-beans:before { content: "\f11d"; }
.flaticon-031-coffee:before { content: "\f11e"; }
.flaticon-032-coffee:before { content: "\f11f"; }
.flaticon-033-coffee:before { content: "\f120"; }
.flaticon-034-ice-cream-cone:before { content: "\f121"; }
.flaticon-035-cookies:before { content: "\f122"; }
.flaticon-036-coffee:before { content: "\f123"; }
.flaticon-037-croissant:before { content: "\f124"; }
.flaticon-038-cup:before { content: "\f125"; }
.flaticon-039-cupcake:before { content: "\f126"; }
.flaticon-040-donut:before { content: "\f127"; }
.flaticon-041-donut:before { content: "\f128"; }
.flaticon-042-fork:before { content: "\f129"; }
.flaticon-043-french-fries:before { content: "\f12a"; }
.flaticon-044-fruit-juice:before { content: "\f12b"; }
.flaticon-045-fruit:before { content: "\f12c"; }
.flaticon-046-coffee-cup:before { content: "\f12d"; }
.flaticon-047-hot-soup:before { content: "\f12e"; }
.flaticon-048-candy:before { content: "\f12f"; }
.flaticon-049-candy:before { content: "\f130"; }
.flaticon-050-icecream:before { content: "\f131"; }
.flaticon-051-icecream-cone:before { content: "\f132"; }
.flaticon-052-coffee-machine:before { content: "\f133"; }
.flaticon-053-orange-juice:before { content: "\f134"; }
.flaticon-054-orange-juice:before { content: "\f135"; }
.flaticon-055-kettle:before { content: "\f136"; }
.flaticon-056-menu:before { content: "\f137"; }
.flaticon-057-menu:before { content: "\f138"; }
.flaticon-058-milk:before { content: "\f139"; }
.flaticon-059-nachos:before { content: "\f13a"; }
.flaticon-060-orange-juice:before { content: "\f13b"; }
.flaticon-061-paper:before { content: "\f13c"; }
.flaticon-062-pizza-slice:before { content: "\f13d"; }
.flaticon-063-sandwich:before { content: "\f13e"; }
.flaticon-064-signboard:before { content: "\f13f"; }
.flaticon-065-cutlery:before { content: "\f140"; }
.flaticon-066-tea-bag:before { content: "\f141"; }
.flaticon-067-tea-bag:before { content: "\f142"; }
.flaticon-068-whipped-cream:before { content: "\f143"; }
.flaticon-069-plate:before { content: "\f144"; }
.flaticon-070-nachos:before { content: "\f145"; }