<perfect-scrollbar style="height: unset;">
    <div class="content-body" fxLayout="row" fxLayoutGap="20px" style="padding-top: 20px;">
        <div fxFlexFill fxLayout="column" fxLayoutGap="20px" class="content">
            <app-list-order fxFlex="80"></app-list-order>
            <app-list-table fxFlex="20"></app-list-table>
        </div>
    </div>
</perfect-scrollbar>