@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~owl.carousel/dist/assets/owl.carousel.css";
@import "~owl.carousel/dist/assets/owl.theme.default.css";
html,
body {
    height: 100%;
    font-family: 'Nunito', sans-serif;
    ;
}

body {
    margin: 0;
    padding: 0;
    perfect-scrollbar>.ps {
        max-height: 100% !important;
        .ps-content {
            height: 100%;
        }
    }
    .mat-list-item-content {
        width: 100%;
        padding: 0 !important;
        place-content: center;
    }
    .product-content {
        .mat-grid-tile .mat-figure {
            align-items: flex-start !important;
        }
    }
}