.menu-container {
  background: #FFFFFF;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 2px #00000014;
  .menu-header {
    margin: 5px 30px;
    .table-selected-name {
      display: flex;
      align-items: center;
      color: #8D6E4D;
      font-size: 20px;
      font-weight: bold;
    }
    .vertial-divine {
      margin: 10px;
      height: 10px;
      border: 1px solid #8D6E4D;
      background: #8D6E4D;;
    }

    .menu-table-button {
      cursor: pointer;
      &.active {
        background: #BE9C79;
        color: #fff;
        padding: 0px 10px;
        border-radius: 20px;
      }
    }

    .search-input {
      padding: 0px 20px;
      height: 35px;
      background: #F1F1F1;
      margin-right: 10px;
      border: none;
      border-radius: 20px;
      box-shadow: 1px 2px 1px #7c7c7c2e;
      align-self: center;
      &:focus {
        outline: 0;
      }
    }
    .search-button {
      height: 39px;
      width: 39px;
      cursor: pointer;
      align-self: center;
      background: #BE9C79;
      border: none;
      border-radius: 20px;
      color: #fff;
      &:hover {
        background: black;
      }
    }
  }
  perfect-scrollbar {
    & > .ps {
      max-height: 100% !important;
    }

    mat-grid-list.mat-grid-list {
      margin: 0px 20px;
      margin-bottom: 10px;
      mat-grid-tile.mat-grid-tile {
        border-radius: 20px;
        .table-item {
          padding: 10px 0px;
          // margin: 10px;
          // width: 200px !important;
          border-radius: 20px;
          border: 2px solid #E1E2E1;
          cursor: pointer;
          .table-name {
            font-size: 25px;
            font-weight: bold;
            margin: 5px;
            text-align: center;
          }
          .account-name {
            text-align: center;
            font-size: 18px;
          }
          .order-time {
            text-align: center;
          }
        }
        .chair-vertical {
          border: 2px solid #E1E2E1;
          border-radius: 50px;
          height: 50px;
          margin: 5px;
        }
        .chair-container {
          margin: 5px;
        }
        .chair-horizontal {
          border: 2px solid #E1E2E1;
          border-radius: 50px;
          width: 50px;
          margin: 0px 2.5px;
        }
        &.has-order {
          .table-item, .chair-vertical, .chair-horizontal {
            background: #eeeeee;
          }

        }

        &.cooked {
          .table-item, .chair-vertical, .chair-horizontal {
            background: #C4CBE8;
          }

        }
        &.active {
          .table-item, .chair-vertical, .chair-horizontal {
            border: #8D6E4D 2px solid;
            color: #8D6E4D;
          }
          &.has-order, &.cooked {
            .table-item, .chair-vertical, .chair-horizontal {
              background: #BE9C79;
              color: #fff;
            }
          }
        }
        .product-item {
          position: relative;
          .product-img {
            position: relative;
            z-index: 9;
          }
          .product-tile-wrapper {
            position: absolute;
            top: 90px;
            padding: 10px 15px;
            padding-top: 30px;
            width: 90%;
            border-radius: 50px;
            border-top-left-radius: 10px;
            background: #fffaf5;
            box-shadow: 1px 1px 1px 1px #be9c792b;
            .product-name {
              font-size: 17px;
              margin-left: 10px;
              font-weight: bold;
              color: #8d8d8d;
            }

            .product-price {
              font-weight: bold;
              margin-left: 15px;
              font-size: 20px;
              color: #8D6E4D;
            }
          }
        }
      }
    }
  }

}
