<div class="menu-container" fxLayout="column" style="height: 100%">
  <div class="menu-header" fxFlex="15" fxLayout="row" fxLayoutAlign="space-between">
    <div class="table-selected-name" fxLayout="row" *ngIf="!orderService.isChangingTable">
      <div class="menu-table-button active" (click)="loadTables($event.target)" id="select-table-button">Bàn</div>
      <div class="vertial-divine"></div>
      <div class="menu-table-button" (click)="loadMenu($event.target)" id="select-product-button">Thực đơn</div>
    </div>
    <div class="change-table-text" style="display: flex;align-items: center;font-size: 18px"
         *ngIf="orderService.isChangingTable && tableService.selectedTableId">
      Chuyển bàn&nbsp;
      <span style="color: #38A700; font-weight: bold">
        {{ orderService.currentSelectedOrder?.tenBan }} </span>&nbsp;tới bàn&nbsp;
      <span style="color: #BE9C79; font-weight: bold">{{ selectedTable.tenBan + '-' + selectedTable.tenTang }}</span>
      <div class="menu-table-button active" style="margin-left:10px;background: #38A700"
           (click)="confirmChangeTable()">Xác nhận</div>&nbsp;
      <div class="menu-table-button active" style="background: #EB6F67"
           (click)="cancelChangeTable()">Hủy</div>
    </div>
    <div class="change-table-text" style="display: flex;align-items: center;"
         *ngIf="orderService.isChangingTable && !tableService.selectedTableId">
      Vui lòng chọn bàn để chuyển <div class="menu-table-button active" style="margin-left:10px;background: #EB6F67"
                                       (click)="cancelChangeTable()">Hủy</div>
    </div>
    <!--search-->
    <div class="search-product-table-bar" fxLayout="row">
      <input class="search-input" placeholder="Nhập tên bàn để tìm kiếm"/>
      <button class="search-button">
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </div>
  <perfect-scrollbar style="max-height: 400px; height: 400px">
    <!--<lottie-animation-view
[options]="{path: 'assets/loading.json',renderer: 'canvas',autoplay: true,loop: true}"
[width]="500" [height]="400">
</lottie-animation-view>-->
    <mat-grid-list cols="4" rowHeight="168px" class="table-content" *ngIf="isSelectedTable">
      <mat-grid-tile *ngFor="let table of lists" (click)="loadTableDetail(table.maBan)" fxLayout="row"
                     class="table-chair-item"
                     [ngClass]="[table.has_order ? table.class : '', tableService.selectedTableId == table.maBan ? 'active' : '']">
        <div fxFlex="5" class="chair-vertical"></div>
        <div fxFlex="90" fxLayout="column" style="height: 95%">
          <div fxFlex="13" fxLayout="row" fxLayoutAlign="center" class="chair-container">
            <div fxFlex="50px" class="chair-horizontal"></div>
            <div fxFlex="50px" class="chair-horizontal"></div>
          </div>
          <div fxFlex="74" class="table-item">
            <div class="account-name"
                 [ngStyle]="{ opacity: +table.has_order }">{{ table.tenNhanVienOrder != null ? table.tenNhanVienOrder : 'x' }}</div>
            <div class="table-name">{{ table.tenBan }}</div>
            <div class="order-time"
                 [ngStyle]="{ opacity: +table.has_order }">{{ table.ngayLapHoaDon === undefined ? 'x' : table.ngayLapHoaDon | timeAgo }}</div>
          </div>
          <div fxFlex="13" fxLayout="row" fxLayoutAlign="center" class="chair-container">
            <div fxFlex="50px" class="chair-horizontal"></div>
            <div fxFlex="50px" class="chair-horizontal"></div>
          </div>
        </div>
        <div fxFlex="5" class="chair-vertical"></div>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="5" rowHeight="200px" class="product-content" *ngIf="!isSelectedTable">
      <mat-grid-tile *ngFor="let product of lists" (click)="addOrder(product.maThucDon)" style="cursor: pointer">
        <div class="product-item">
          <img class="product-img" [src]="apiUrlHelper.uploadProduct + product.hinhAnh"
               style="height: 140px; width: 140px;"/>
          <div class="product-tile-wrapper">
            <div class="product-name">{{ product.tenThucDon }}</div>
            <div class="product-price">${{ product.getGiaKhuyenMai.toFixed(2) }}</div>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </perfect-scrollbar>
</div>
