<div fxFlexFill fxLayout="column" fxLayoutGap="20px" class="order">
    <div fxFlex="90" class="order-list" fxLayout="column">
        <div class="order-table-name" fxFlex="10">{{ selectedTable? 'Bàn ' + selectedTable.tenBan + ' - ' + selectedTable.tenTang : 'Chưa chọn bàn' }}</div>
        <div class="order-detail" fxFlex="90" fxLayout="column" *ngIf="currentOrder && selectedTable &&
              !constHelper.ORDER_STATUS_HIDE.includes(currentOrder.trangThai)">
            <div fxLayout="row" class="order-header" fxFlex="6">
                <div fxFlex="7"></div>
                <div fxFlex="30" class="left">Tên</div>
                <div fxFlex="25" class="center">Số lượng</div>
                <div fxFlex="38" class="right">Giá</div>
            </div>
            <perfect-scrollbar style="height: 400px;">
                <div fxLayout="row" *ngFor="let item of currentOrder.dsMon" class="order-item" style="padding: 10px 20px;">
                    <div fxFlex="7">
                        <mat-icon>remove</mat-icon>
                    </div>
                  <div fxFlex="30" class="left">{{ item.tenThucDon }} <br> <span style="font-size: 13px;color:#8C8A8A;"
                    *ngIf="item.trangThai == constHelper.ORDER_STATUS_COOKED">(Đã xong)</span></div>
                    <div fxFlex="25" class="center quantity" style="display: flex;place-content: space-around;">
                        <mat-icon (click)="updateQuantity(item.maChiTiet, item.soLuong - 1)">remove_circle_outline</mat-icon>
                        {{ item.soLuong }}
                        <mat-icon (click)="updateQuantity(item.maChiTiet, item.soLuong + 1)">add_circle_outline</mat-icon>
                    </div>
                    <div fxFlex="38" class="right">${{ (item.giaMon * item.soLuong).toFixed(2) }}</div>
                </div>
            </perfect-scrollbar>
            <mat-list class="order-footer" fxFlex="19" fxLayout="column">
                <mat-list-item fxLayout="row">
                    <div fxFlex="50" class="left">Giảm giá (%)</div>
                    <div fxFlex="50" class="right">
                        <input class="discount-input" [(ngModel)]="discountPercent" (ngModelChange)="updateDiscountPercent()" maxlength="2" />
                    </div>
                </mat-list-item>
                <mat-list-item fxLayout="row">
                    <div fxFlex="50" class="left">Tổng tiền</div>
                    <div fxFlex="50" class="right">${{ currentOrder.tongTien.toFixed(2) }}</div>
                </mat-list-item>
            </mat-list>
            <div fxLayout="row" class="order-total" fxFlex="10">
                <div fxFlex="50" class="left">Thành tiền</div>
                <div fxFlex="50" class="right" style="color: #BE9C79">${{ currentOrder.thanhTien.toFixed(2) }}</div>
            </div>
        </div>
        <div class="order-detail" fxFlex="90" fxLayout="column" *ngIf="!currentOrder || !selectedTable
     || constHelper.ORDER_STATUS_HIDE.includes(currentOrder.trangThai)">
            <div class="not-has-order" style="height: 544.5px">
                <div class="display-text">
                    Bàn chưa có order
                </div>
                <button class="add-order-button" (click)="createOrder()">Tạo mới</button>
            </div>

        </div>
    </div>
    <button fxFlex="7" class="checkout-button" (click)="checkout()">
    THANH TOÁN
  </button>
</div>
