.order {
    .order-list {
        background: #FFFFFF;
        border-radius: 5px;
        box-shadow: 1px 1px 2px 2px #00000014;
        .left {
            text-align: left;
        }
        .center {
            text-align: center;
        }
        .right {
            text-align: right;
        }
        .order-header {
            padding: 0px 20px;
            background: #E1E2E1;
            font-weight: bold;
            align-items: center;
            border-top: 1px solid #C4C4C4;
            color: #939292;
            border-bottom: 1px solid #c4c4c4;
        }
        .order-table-name {
            display: flex;
            justify-content: center;
            font-size: 25px;
            align-items: center;
            font-weight: bold;
        }
        .order-item {
            border-bottom: 1px solid #c4c4c4;
            align-items: center;
            .quantity .mat-icon {
                color: #BE9C79;
                cursor: pointer;
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                &:hover {
                    color: black;
                }
            }
        }
        .order-footer.mat-list.mat-list-base {
            background: #F8F8F8;
            padding: 0px 20px;
            .discount-input {
                background: #ffffff;
                border: 1px solid #C4C4C4;
                border-radius: 5px;
                width: 30px;
                text-align: center;
                font-size: 15px;
                padding: 0px 5px;
                &:focus {
                    outline: 0;
                }
            }
        }
        .order-total {
            align-items: center;
            padding: 0px 20px;
            font-size: 18px;
            font-weight: bold;
        }
    }
    .checkout-button {
        background: #BE9C79;
        border: none;
        font-family: inherit;
        cursor: pointer;
        font-weight: bold;
        color: #fff;
        border-radius: 5px;
        font-size: 18px;
        &:hover {
            background: black;
        }
    }
    .not-has-order {
        height: 100%;
        align-items: center;
        place-content: center;
        display: flex;
        flex-direction: column;
        .add-order-button {
            padding: 10px 20px;
            border: none;
            font-size: 18px;
            color: #fff;
            font-family: inherit;
            background: #BE9C79;
            margin-top: 10px;
            cursor: pointer;
            &:hover {
                background: black;
            }
        }
        .display-text {
            font-size: 18px;
        }
    }
}