﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/Admin/Layout.cshtml";
}

<style>
    .modal-dialog {
        max-width: 500px;
    }

    #position_modal_btn {
        position: absolute;
        bottom: 1px;
        right: 33px;
        border-radius: unset;
        height: 36px;
        background: #3498db;
        border: unset;
    }

    #view_customer_modal .modal-content {
        min-width: 1000px;
        margin-left: -220px;
    }
</style>
<div class="section__content section__content--p30">
    <div class="container-fluid">
        <div class="row m-t-30">
            <div class="col-md-12">
                <h3 class="title-5 m-b-35">quản lý khách hàng</h3>
                <!-- DATA TABLE-->
                <div class="table-responsive m-b-40">
                    <table class="table table-borderless table-data3">
                        <thead>
                            <tr>
                                <th>họ tên</th>
                                <th>email</th>
                                <th class="text-center">số điện thoại</th>
                                <th>tỉnh thành</th>
                                <th>tác vụ</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var cus in ViewBag.ListCustomer)
                            {
                            <tr>
                                <td>@cus.TenKhachHang</td>
                                <td>@cus.Email</td>
                                <td class="text-center">@cus.SoDt</td>
                                <td>@cus.TenTinhThanh</td>
                                <td>
                                    <button class="btn btn-danger customer_btn" data-action="Edit" data-id="@cus.MaKhachHang" data-toggle="modal" data-target="#view_customer_modal"><i class="fas fa-user"></i></button>
                                </td>
                            </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <!-- END DATA TABLE-->
            </div>
        </div>
    </div>
</div>

<div class="modal fade parent_modal" id="view_customer_modal" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" id="view_customer_modal_title">Customer Infomation</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="card-body card-block">
                    <div class="row">
                        <div class="col-md-12">
                            <input hidden="" name="id" id="customer_id">
                            <div class="row form-group">
                                <div class="col col-md-3 text-right">
                                    <label for="text-input" class=" form-control-label">Tên Khách Hàng</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="text" id="customer_name" value="Trịnh Hoàng Huy" class="form-control" name="customer_name" disabled>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3 text-right">
                                    <label for="text-input" class=" form-control-label">Email</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="text" id="customer_email" value="huy.trinh1905@gmail.com" class="form-control" name="customer_name" disabled>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3 text-right">
                                    <label for="select" class=" form-control-label">Địa chỉ</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="text" id="customer_address" value="351 Lạc Long Quân" class="form-control" name="customer_name" disabled>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3 text-right">
                                    <label for="text-input" class=" form-control-label">Tỉnh/Thành</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="text" id="customer_city" value="Hồ Chí Minh" class="form-control" name="customer_name" disabled>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3 text-right">
                                    <label for="text-input" class=" form-control-label">Số điện thoại</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="text" id="customer_tel" value="0906021727" class="form-control" name="customer_name" disabled>
                                </div>
                            </div>
                            <div class="row form-group account-field">
                                <div class="col col-md-3 text-right">
                                    <label for="text-input" class=" form-control-label" style="margin-top:10px">Tài khoản</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <p style="color: red; display: none;margin-top:10px" id="not_has_account">Chưa có tài khoản</p>
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#account_user_modal" id="account_user_check">Kiểm tra tài khoản</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
            </div>
        </div>
    </div>
</div>

<!--ACCOUNT MODAL-->
<div class="modal fade child_modal" id="account_user_modal" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
    <div class="modal-dialog  bounceOut  animated" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Thông tin tài khoản</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <div class="card-body card-block">
                    <div class="row form-group">
                        <div class="col col-md-3 text-right">
                            <label for="text-input" class=" form-control-label">Tài khoản</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="account_user_name" name="account_user_name" placeholder="Nhập tên tài khoản..." class="form-control" value="abc" disabled="disabled">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3 text-right">
                            <label for="text-input" class=" form-control-label">Mật khẩu</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="account_user_password" name="account_user_password" placeholder="Nhập mật khẩu..." class="form-control" value="" disabled="disabled">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Thoát</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end ACCOUNT MODAL-->
<script src="~/admin/js/customer_list.js"></script> 

